# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Ruby environment
.ruby-version
.ruby-gemset
Gemfile.lock

# Environment normalization
.env
.env.*

# General
*.log
*.swp
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Node modules (if you're using any Node.js tools)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*